html, body {
	height: 100%;
}

.game1 {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.game1 .table  {
	display: flex;
	width: 90vw;
	height: 90vw;
	max-width: 90vh;
	max-height: 90vh;
	flex-wrap: wrap;
	background: #eee;
	margin: auto;
	border: 1px solid #000;
	position: relative;
}
.game1 .table.win1:before {
	position: absolute;
	left: 3%;
	width: 0;
	top: 16.4%;
	border-top: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
}
.game1 .table.win1.go:before {
	width: 94%;
}
.game1 .table.win2:before {
	position: absolute;
	top: 3%;
	height: 0;
	right: 16.4%;
	border-left: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
}
.game1 .table.win2.go:before {
	height: 94%;
}
.game1 .table.win3:before {
	position: absolute;
	top: 3%;
	height: 0;
	left: 16.4%;
	border-left: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
}
.game1 .table.win3.go:before {
	height: 94%;
}
.game1 .table.win4:before {
	position: absolute;
	left: 3%;
	width: 0;
	bottom: 16.4%;
	border-top: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
}
.game1 .table.win4.go:before {
	width: 94%;
}
.game1 .table.win5:before {
	position: absolute;
	left: 3%;
	width: 0;
	top: 3%;
	border-top: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
    transform: rotate(45deg);
    transform-origin: 0 0;
}
.game1 .table.win5.go:before {
	width: 133%;
}
.game1 .table.win6:before {
	position: absolute;
	right: 3%;
	width: 0;
	top: 3%;
	border-top: 7px solid #f00;
	content: '';
	z-index: 1;
	transition: 0.3s;
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
}
.game1 .table.win6.go:before {
	width: 133%;
}
.game1 .cell {
	width: 33.33%;
	width: 33.33%;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid #000;
	position: relative;
}
.game1 .cell.t1:before {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 110%;
	border-top: 3px solid #000;
	content: '';
	transform: rotate(45deg);
	transform-origin: 0 0;
}
.game1 .cell.t1:after {
	position: absolute;
	right: 10%;
	top: 10%;
	width: 110%;
	border-top: 3px solid #000;
	content: '';
	transform: rotate(-45deg);
	transform-origin: 100% 0;
}
.game1 .cell.t2:before {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 10%;
	bottom: 10%;
	border: 3px solid #000;
	content: '';
	border-radius: 50%;
}
.game1 .cell.checked {
	cursor: auto;
}